:root{
    --negro: #000;
    --blanco: #fff;
    --main-background: #484967;
    --text-contrast: #606366;
}
html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}