:root{
    --negro: #000;
    --blanco: #fff;
    --main-background: #484967;
    --text-contrast: #606366;
}
html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

/* HEADER */

/* desktop */
.logo{
    width: 80px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 15vh;
    background-color: var(--main-background);
}
.enlaces-menu{
    display: flex;
    padding: 0;
}
.enlaces-menu li{
    padding: 0 40px;
    list-style: none;
    transition: 0.3s;
}
.enlaces-menu li a{
    font-size: 1.8rem;
    color: var(--blanco);
}
.enlaces-menu li:hover{
    background-color: var(--text-contrast);
    border-radius: 5px;
}
.ham{
    display: none;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}
.ham span{
    display: block;
    background-color: var(--blanco);
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
}

/* movil */
@media (max-width:768px){
    .logo{
        padding-left: 25px;
    }
    .ham{
        display: block;
        position: absolute;
        top: 40px;
        right: 25px;
        transition: 0.2s 0.1s;
    }
    .ham:hover{
        transform: rotate(360deg);
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
    }
    .enlaces-menu{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 85vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        opacity: 0;
    }
    .enlaces-menu li{
        width: 100%; 
        text-align: center;
        padding: 20px;       
    }
    .enlaces-menu.activado{
        display: flex;
        animation: muestraMenu 550ms ease-in-out both;
    }
    @keyframes muestraMenu{
        from{opacity: 0;}
        to{opacity: 1;}
    }
    .br1.animado{
        transform: rotate(-45deg) translate(-10.5px, 8px);
    }
    .br2.animado{
        opacity: 0;
    }
    .br3.animado{
        transform: rotate(45deg) translate(-10.5px, -8px);
    } 
}

/* SECTION1 */

/* movil */
.wallpaper{
    width: 100%;
    height: 700px;
}
.wallpaper_container{
    width: 100%;
    height: 100%;
    background-image: url(https://www.wallpaperflare.com/static/681/458/510/family-holiday-together-leisure-wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.wallpaper_container p{
    margin: 0;
    font-size: 3rem;
    color: var(--blanco);
}
.wallpaper_container img{
    margin-top: 40px;
    width: 80px;
}

/* desktop */
@media(min-width:780px){
    .wallpaper_container p{
        max-width: 1150px;
        margin: 0 auto;
        font-size: 5rem;
    }
    .wallpaper_container img{
        margin-top: 40px;
        width: 180px;
    }

}

/* SECTION2 */

/* movil */
.description{
    padding: 20px;
}
.description_container{
    max-width: 780px;
    margin: 0 auto;
}
.description_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description_box-text{
   display: flex;
   flex-direction: column;
   text-align: left; 
}
.description_box-text h2{
    font-size: 2rem;
    font-weight: 300;
    color: var(--negro);
}
.description_box-text p{
    font-size: 1.3rem;
    line-height: 2;
    color: #606366;
}
.desc-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--main-background);
    margin-top: 30px;
    text-align: center;
}
.desc-button a{
    color: var(--blanco);
    font-size: 1.1rem;
    letter-spacing: 3px;
}
.description_box-img img{
    width: 100%;
}
.description_box-img{
    margin-top: 30px;
}
@media(min-width:780px){
    .description{
        padding: 40px;
    }
    .description_container{
        max-width: 1150px;
    }
    .description_box{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        margin-top: 60px;
    }
     .description_box-text h2{
         font-size: 2.5rem;
         font-weight: 400;
         color: var(--negro);
     }
     .description_box-text p{
         font-size: 1.6rem;
         line-height: 2;
         color: #606366;
     }
}


/* section3 */

/* movil */
.cert{
    padding: 40px;
}
.cert_container{
    max-width: 780px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cert-text{
    margin-bottom: 20px;
}
.cert-text p{
    font-size: 1.6rem;
}
.cert-img{
    display: flex;
    flex-wrap: wrap;
}
.cert-img img{
    margin: 10px;
    width: 100px;
}

/* desktop */
@media(min-width:780px){
    .cert_container{
        max-width: 1150px;
        margin: 0 auto;
    }
    .cert-text p{
        font-size: 2.5rem;
    }
    .cert-img img{
        margin: 20px;
    }
}