:root{
    --negro: #000;
    --blanco: #fff;
    --main-background: #484967;
    --text-contrast: #606366;
}
html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

/* HEADER */

/* desktop */
.logo{
    width: 80px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 15vh;
    background-color: var(--main-background);
}
.enlaces-menu{
    display: flex;
    padding: 0;
}
.enlaces-menu li{
    padding: 0 40px;
    list-style: none;
    transition: 0.3s;
}
.enlaces-menu li a{
    font-size: 1.8rem;
    color: var(--blanco);
}
.enlaces-menu li:hover{
    background-color: var(--text-contrast);
    border-radius: 5px;
}
.ham{
    display: none;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}
.ham span{
    display: block;
    background-color: var(--blanco);
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
}

/* movil */
@media (max-width:768px){
    .logo{
        padding-left: 25px;
    }
    .ham{
        display: block;
        position: absolute;
        top: 40px;
        right: 25px;
        transition: 0.2s 0.1s;
    }
    .ham:hover{
        transform: rotate(360deg);
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
    }
    .enlaces-menu{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 85vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        opacity: 0;
    }
    .enlaces-menu li{
        width: 100%; 
        text-align: center;
        padding: 20px;       
    }
    .enlaces-menu.activado{
        display: flex;
        animation: muestraMenu 550ms ease-in-out both;
    }
    @keyframes muestraMenu{
        from{opacity: 0;}
        to{opacity: 1;}
    }
    .br1.animado{
        transform: rotate(-45deg) translate(-10.5px, 8px);
    }
    .br2.animado{
        opacity: 0;
    }
    .br3.animado{
        transform: rotate(45deg) translate(-10.5px, -8px);
    } 
}

/* SECTION1 */

/* movil */
.wallpaper{
    width: 100%;
    height: 700px;
}
.wallpaper_container{
    width: 100%;
    height: 100%;
    background-image: url(https://www.wallpaperflare.com/static/681/458/510/family-holiday-together-leisure-wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.wallpaper_container p{
    margin: 0;
    font-size: 3rem;
    color: var(--blanco);
}
.wallpaper_container img{
    margin-top: 40px;
    width: 80px;
}

/* desktop */
@media(min-width:780px){
    .wallpaper_container p{
        max-width: 1150px;
        margin: 0 auto;
        font-size: 5rem;
    }
    .wallpaper_container img{
        margin-top: 40px;
        width: 180px;
    }

}

/* SECTION2 */

/* movil */
.description{
    padding: 20px;
}
.description_container{
    max-width: 780px;
    margin: 0 auto;
}
.description_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description_box-text{
   display: flex;
   flex-direction: column;
   text-align: left; 
}
.description_box-text h2{
    font-size: 2rem;
    font-weight: 300;
    color: var(--negro);
}
.description_box-text p{
    font-size: 1.3rem;
    line-height: 2;
    color: #606366;
}
.desc-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--main-background);
    margin-top: 30px;
    text-align: center;
}
.desc-button a{
    color: var(--blanco);
    font-size: 1.1rem;
    letter-spacing: 3px;
}
.description_box-img img{
    width: 100%;
}
.description_box-img{
    margin-top: 30px;
}
@media(min-width:780px){
    .description{
        padding: 40px;
    }
    .description_container{
        max-width: 1150px;
    }
    .description_box{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        margin-top: 60px;
    }
     .description_box-text h2{
         font-size: 2.5rem;
         font-weight: 400;
         color: var(--negro);
     }
     .description_box-text p{
         font-size: 1.6rem;
         line-height: 2;
         color: #606366;
     }
}


/* section3 */

/* movil */
.cert{
    padding: 40px;
}
.cert_container{
    max-width: 780px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cert-text{
    margin-bottom: 20px;
}
.cert-text p{
    font-size: 1.6rem;
}
.cert-img{
    display: flex;
    flex-wrap: wrap;
}
.cert-img img{
    margin: 10px;
    width: 100px;
}

/* desktop */
@media(min-width:780px){
    .cert_container{
        max-width: 1150px;
        margin: 0 auto;
    }
    .cert-text p{
        font-size: 2.5rem;
    }
    .cert-img img{
        margin: 20px;
    }
}


/* section4 */

/* movil */
.quotes{
    padding: 60px;
}
.quotes_container{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.quotes_container h2{
    font-size: 5rem;
    margin: 0;
}
.quotes_container p{
    font-size: 3rem;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    line-height: 2;
    margin: 0;  
}
.quotes_container h3{
    font-size: 1.5rem;
    font-style: italic;
}

/* desktop */
@media(min-width:780px){
    .quotes{
        max-width: 1150px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
}


/* section5 */

/* movil */
.info{
    width: 100%;
    height: 400px;
}
.info_container{
    width: 100%;
    height: 100%;
    background-image: url(https://wp.es.aleteia.org/wp-content/uploads/sites/7/2019/08/web3-father-son-hug-shutterstock_1355903147-por-lightfield-studios.jpg?w=620&h=348&crop=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.info-button{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--blanco);
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
}
.info-button a{
    color: var(--negro);
    font-size: 1.1rem;
    letter-spacing: 3px;
}
.info-button:hover{
    background-color: var(--main-background);
}
.info_container p{
    font-size: 3rem;
    font-weight: 500;
    color: var(--blanco);
}
.info-foot{
    height: 40px;
    background-color: var(--main-background);
}

/* desktop */
@media(min-width:780px){
    .info_container p{
        font-size: 4rem;
    }
}


/* footer */

/* movil */
footer{
    padding: 40px 20px;
}
.foot_container{
    max-width: 780px;
    margin: 0 auto;
}
.adress{
    width: 100%;
    text-align: center;
}
.adress p{
    font-size: 1rem;
    line-height: 3.5;
}
.contact_info{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.personal{
    text-align: center;
}
.personal h3{
    font-size: 1.4rem;
}
.personal p{
    font-size: 1.2rem;
    line-height: 2;
}
.personal a img{
    width: 30px;
}
.contact{
    margin-top: 60px;
    text-align: center;
}
.contact h3{
    font-size: 1.6rem;
    margin-bottom: 40px;
}
.contact p{
    font-size: 1.4rem;
    margin: 60px 0;
}
.contact img{
    width: 120px;
}

/* desktop */
@media(min-width:780px){
    footer{
        padding: 80px 20px;
    }
    .foot_container{
        max-width: 1150px;
        margin: 0 auto;
    }
    .contact_info{
        flex-direction: row;
    }
    .personal{
        text-align: left;
    }   
    .grilla{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr ;
        gap: 30px;
    }

    .contact img{
        width: 30px;
    }
    .phone{
        display: flex;
        align-items: center;
    }
    .mail{
        display: flex;
        align-items: center;
    }
    .point{
        display: flex;
        align-items: center;
    }
    .contact p{
        margin: 0;
    }
    .contact{
        margin-top: 0;
    }
    .contact h3{
        font-size: 1.6rem;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .contact p{
        margin-left: 20px;
    }    
}   

/* section6 */

/* movil */
.slider_container{
    width: 100vw;
    overflow-x: hidden;
}
.slider{
    width: 100%;
    position: relative;
    height: 800px;
}
.slider li{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.slider li img{
    width: 100%;
    height: 800px;
    object-fit: cover;
}
.slider li:first-child{
    opacity: 1;
}
.slider li:target{
    opacity: 1;
}
.slider-menu{
    text-align: center;
    margin: 20px;
}
.slider-menu li{
    display: inline-block;
    text-align: center;
}
.slider-menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 10px;
    height: 10px;
    font-size: 10px;
    border-radius: 100%;
}